@import "~src/assets/_variables";

.wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 rem(8px);
  max-width: 1320px;
}

.header {
  flex: 0 1 auto;
  padding: rem(18px) 0;
  background: linear-gradient(to top, var(--color-purple-heart), var(--color-purple-heart-light));
  color: var(--color-white);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    margin: 0;
    font-size: rem(16px);
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: rem(1.5px);
    a {
      color: var(--color-white);
    }
    svg {
      position: relative;
      top: -1px;
      margin-right: rem(12px);
      display: inline-block;
      vertical-align: middle;
      height: rem(25px);
    }
    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

nav {
  flex: 0 1 auto;
  padding: rem(3px) 0;
  background: var(--color-purple-heart-dark);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    a {
      display: inline-block;
      padding: rem(11px) rem(11px) rem(9px);
      color: #FFF;
      font-weight: 500;
      text-decoration: none;
      border-bottom: rem(3px) solid rgba(#FFF, .5);
    }
  }
  .actions {
    position: fixed;
    z-index: 10;
    right: rem(40px);
    bottom: rem(40px);
    button {
      width: rem(60px);
      height: rem(60px);
      padding: 0;
      background: linear-gradient(to top, var(--color-purple-heart), var(--color-purple-heart-light));
      border: none;
      border-radius: 50%;
      box-shadow: 0 0 rem(20px) rgba(#000, .3);
      cursor: pointer;
      svg {
        height: rem(30px);
        color: var(--color-white);
      }
    }
  }
}

main {
  position: relative;
  flex: 1 1 auto;
  .container {
    height: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    padding: 0 rem(16px);
  }
}
