@function rem($size) {
  @return $size / 16px * rem(16px);
}

.container {
    margin: 0 auto;
    padding: 0 rem(8px);
    max-width: 1320px;
}

.header {
    padding: rem(18px) 0;
    background: linear-gradient(to top, var(--color-purple-heart), var(--color-purple-heart-light));
    color: var(--color-white);
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h1 {
        margin: 0;
        font-size: rem(16px);
        line-height: 1;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: rem(1.5px);
        a {
          color: var(--color-white);
        }
        svg {
          position: relative;
          top: -1px;
          margin-right: rem(12px);
          display: inline-block;
          vertical-align: middle;
          height: rem(25px);
        }
        span {
          display: inline-block;
          vertical-align: middle;
        }
    }
}

nav {
  margin: 0 0 rem(16px);
  padding: rem(3px) 0;
  background: var(--color-purple-heart-dark);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    a {
      display: inline-block;
      padding: rem(11px) rem(11px) rem(9px);
      color: #FFF;
      font-weight: 500;
      text-decoration: none;
      border-bottom: rem(3px) solid rgba(#FFF, .5);
    }
  }
  .actions {
    padding: 0 rem(11px);
    button {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      svg {
        position: relative;
        top: 3px;
        height: rem(20px);
        color: var(--color-white);
      }
    }
  }
}

main {
    position: relative;
}

@media (min-width: 576px) {
    .container {
        padding: 0 rem(16px);
    }
}
