@import "~src/assets/_variables";

.board {
  height: 100%;
  .list {
    flex: 1 0 0;
    margin: rem(16px) 0;
    border: 1px solid #E2DAE8;
    border-radius: rem(5px);
    box-shadow: 0 rem(2px) rem(2px) rgba(#000, .03), 0 rem(1px) rem(5px) rgba(#000, .02);
    overflow: hidden;
    .header {
      display: flex;
      padding: rem(18px) rem(14px);
      background: #FFF;
      align-items: center;
      .title {
        flex: 1;
        h2 {
          margin: 0 0 rem(6px);
          font-weight: 500;
          font-size: rem(18px);
          line-height: 1;
        }
        .count {
          font-size: rem(14px);
          line-height: 1;
          opacity: .65;
        }
      }
    }
    .tasks {
      margin: 0;
      padding: rem(14px);
      list-style: none;
      &.cdk-drop-list-dragging {
        opacity: .65;
      }
      .cdk-drag-placeholder {
        display: none;
      }
    }
  }
}

.task {
  cursor: default;
  list-style: none;
  position: relative;
  margin: 0 0 rem(12px);
  padding: rem(16px);
  background: var(--color-white);
  box-shadow: 0 rem(2px) rem(2px) rgba(#000, .03), 0 rem(1px) rem(5px) rgba(#000, .02);
  border-radius: rem(5px);
  border: 1px solid #E2DAE8;
  transition: box-shadow .2s;
  &:hover {
    box-shadow: 0 rem(2px) rem(2px) rgba(#000, .1), 0 rem(1px) rem(5px) rgba(#000, .09);
  }
  &:last-child {
    margin-bottom: 0;
  }
  &:not(.task-list-add) {
    padding-right: rem(32px);
  }
  &.task-priority--1 {
    border-left: rem(4px) solid var(--color-very-light-grey);
    .priority {
      color: var(--color-very-light-grey);
    }
  }
  &.task-priority-0 {
    border-left: rem(4px) solid var(--color-purple-heart);
    .priority {
      color: var(--color-purple-heart);
    }
  }
  &.task-priority-1 {
    border-left: rem(4px) solid var(--color-red-orange);
    .priority {
      color: var(--color-red-orange);
    }
  }
  h3 {
    margin: 0 0 rem(4px);
    font-size: 1em;
    font-weight: 500;
  }
  .description {
    margin: 0 0 rem(8px);
  }
  .gravity {
    display: flex;
    font-size: rem(11px);
    letter-spacing: 1px;
    text-transform: uppercase;
    .priority {
      flex: 1;
    }
    .deadline {
      margin-right: rem(-16px);
      text-align: right;
      .icon {
        margin-right: rem(4px);
        display: inline-block;
        font-size: inherit;
        height: 1em;
        overflow: visible;
        vertical-align: -0.125em;
      }
      .deadline-label {
        display: none;
      }
    }
  }
  .task-actions {
    opacity: 0;
    position: absolute;
    top: rem(6px);
    right: rem(-3px);
    transition: opacity .2s;
  }
  .task-actions[aria-expanded=true],
  &:hover .task-actions {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .board {
    display: flex;
    .list {
      margin: 0;
      box-shadow: none;
      border-radius: 0;
      border-width: 0 0 0 1px;
      &:last-child {
        border-right: 1px solid #E2DAE8;
      }
    }
  }
}

@media (min-width: 992px) {
  .task .gravity .deadline .deadline-label {
    display: inline;
  }
}
